* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfeacd;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Georgia', serif;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

textarea {
    resize: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #aaa;
    outline: none;
    transition: all .3s ease-in-out;
}

textarea:focus {
    border-color: #6eba8f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type=submit] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.answer {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#answer-content {
    text-align: left;
    line-height: 1.6;
}


.answer strong {
    display: block;
    margin-bottom: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: 20px;
}

a:hover {
    color: #0056b3;
}

a:visited {
    color: #6c757d;
}

a:active {
    color: #004085;
}

article {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button, input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

button:active, input[type="submit"]:active {
    background-color: #409147;
}

.top-plants {
    width: 100%;
    height: 300px;
    background-image: url('../../static/images/up_plants.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    -webkit-mask-image: linear-gradient(90deg,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    mask-image: linear-gradient(90deg,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
}

.bottom-plants {
    width: 100%;
    height: 300px;
    background-image: url('../../static/images/down_plants.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    -webkit-mask-image: linear-gradient(90deg,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    mask-image: linear-gradient(90deg,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
}
