<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Помощник по уходу за комнатными растениями</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <article>
        <section>
            <h1>Чем полезен этот сайт?</h1>
            На нашем сайте вы можете получить консультацию по комнатным растениям, задав вопрос
            rag-ассистенту Опунции.
            <a href="/model"><button type="button">Поговорим с Опунцией?</button></a>
        </section>
    </article>
</body>
</html>