<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Помощник по уходу за комнатными растениями</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="top-plants"></div>

    <article>
        <section>
            <h1>Чем полезен этот сайт?</h1>
            <p>
                На нашем сайте вы можете получить консультацию по комнатным растениям, задав вопрос
                rag-ассистенту Опунции.
            </p>
            <a href="/model">
                <button type="button">Поговорим с Опунцией?</button>
            </a>
            <a href="/plant_list">
                <button type="button">Факты о комнатных растениях</button>
            </a>
        </section>
    </article>

    <div class="bottom-plants"></div>
</body>
</html>
