<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RAG Модель</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>

        <div class="top-plants"></div>
        <div class="main-content">
            <form method="POST" action="/model">
                <h1>Что вас интересует?</h1>
                <textarea rows="4" cols="50" name="question"></textarea><br>
                <input type="submit" value="Получить ответ">

                {% if answer %}
                <div class="answer">
                    <strong>Ответ модели:</strong>
                    <div id="answer-content"></div>
                </div>
                {% endif %}
            </form>
            <a href="/main" class="back-button">Вернуться в меню</a>
        </div>
        <div class="bottom-plants"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const answerText = `{{ answer }}`;
            if (answerText) {
                document.getElementById('answer-content').innerHTML = marked.parse(answerText);
            }
        });
    </script>
</body>
</html>
